@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tiptap.ProseMirror p {
  font-size: 1 rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Geist", sans-serif;
  -webkit-font-smoothing: antialiased;
}
